.testimonials {
    position: relative;
}
.inner-testimonials .owl-dots {
    display: none;
}
.custome_slide.owl-carousel .owl-item.active.center .main-reviewimage {
    border: 2px solid #fff;
}
.main-reviewimage {
    border-radius: 50%;
    height: 310px;
    width: 100%;
    background: #000;
}
.main-reviewimage img {
    opacity: 0.3;
}
#slide-testimonal .active.center .main-reviewimage img {
    opacity: 1;
}
.test_img {
    position: relative;
    opacity: 1;
    -webkit-transition: .4s ease all;
    transition: .4s ease all;
    margin: 0 -48px;
    margin-top: 40px;
}
.inner-testimonials {
    width: 100%;
    max-width: 680px;
    margin: 0 auto;
}
#slide-testimonal .center .test_img:before {
    content: none;
    transition: 0.7s ease-in-out;
}
.test_img img {
    border-radius: 100%;
    overflow: hidden;
    margin: 0 auto;
    height: 100%;
    object-fit: cover;
}
body {
    font-family: tahoma;
}
.custome_slide.owl-carousel .owl-item.active.center {
    transform: scale(1.3);
    margin-top: 0 !important;
    position: relative;
    z-index: 999;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.custome_slide.owl-carousel .owl-item {
    transform: scale(0.7);
    padding: 10px 0px;
    transition: all 0.5s;
}
.testimonial_detail {
    text-align: center;
}
.testimonial_detail {
    transform: scale(0.7) !important;
    width: 447px;
    position: relative;
    left: -71px;
}
.testimonial_detail h4 {
    font-size: 38px;
    margin: 0;
}
.testimonial_detail p {
    color: #ccc;
    font-size: 26px;
}
.custome_slide.owl-carousel .active .testimonial_detail {
    display: none;
}
.custome_slide.owl-carousel .active.center .testimonial_detail {
    display: block !important;
}

@media only screen and (max-width:767px){
    .main-reviewimage {
        height: 400px;
        width: 425px;
        margin: 0 auto;
        display: block;
    }
    .testimonial_detail {
        left: inherit;
        width: 100%;
    }
}